
/* Resetting browser default padding margin  */
*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

/* Gobal Variables  */
:root{
    --primary_font:'Orbitron';
    --secondary_font:'Poppins';
    --primary_color:#111111;
    --secondary_color:#333333;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: var(--primary_font), sans-serif;
    overflow: hidden;
}

/* Navbar Section  */

.container{
    margin: 10px 50px;
}

[aria-label="navbar"] {
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    flex: 4;
}

.navbar-container div:nth-child(1) {
    flex: 1;
}
  
.navbar-container div:nth-child(2) {
    flex: 2;
}

.navbar-container div img{
    display: block;
    cursor: pointer;
}
.list {
    flex: 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    list-style-type: none;
}
.list-item {
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
/* menu list positing */
.list-item:nth-child(2){
    order: 3;
}

.list-item:nth-child(3){
    order: 2;
}

.list-item:nth-child(4){
    order: 4;
}

.list-item:nth-child(5){
    order: 5;
}

.list-item::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    bottom: 0;
    left: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: var(--primary_color);
    transition: width 0.4s ease;
  }
.list-item:hover.list-item::after {
    width: 70%;

}
.list-item:hover{
    font-weight: 500;
    transition:0.1s linear
}

.button-group {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
  
.button-group div:nth-child(1),.button-group div:nth-child(2) {
    flex: 0;
  }
svg {
    margin-top: 5px;
    height: 25px;
    cursor: pointer;
}

.nav-button {
    margin-left: 15px;
    width: 150px;
    border-radius: 10px;
    border: 2.5px solid var(--primary_color);
    padding: 5px 35px;
    background: transparent;
    font-size: 20px;
    color: var(--secondary_color);
    cursor: pointer;
}
.nav-button:hover{
    transition-duration: 400ms;
    color: #fff;
    background-color: var(--primary_color);
}

/* Hero Banner Section */

[aria-label="banner"]{
    position: relative;
    
}

.hero-container{
    padding: 60px 0px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.hero-container > span{
    position: absolute;
}

.square {
    top: 220px;
    left: 100px;
    z-index: 0;
}
.square img{
    height: 230px;
}
.square::after {
    content: url(./assets/start.png);
    transform: scale(.5);
    position: absolute;
    bottom: 18%;
    right: -60%;
  }

.star {
    top: 6%;
    right: 5%;
  }
.star img {
    height: 50px;
}

.globe {
    left: 50%;
    top: 1%;
}
  
.globe img {
    height: 50px;
}

.hero-container > div {
    flex: 1;
}
  
.hero-container > div img {
    position: relative;
    z-index: 2;
}
.hero-image img{
    height: 350px;
}
.hero-container-right {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.hero-heading{
    font-size: 45px;
    margin-top: 50px;
    text-align: center;
}
  
  .hero-description {
    font-family: var(--secondary_font), sans-serif;
    width: 600px;
    text-align: center;
    margin: 30px auto;
    font-size: 14px;
    color: var(--secondary_color);
  }
  
.hero-container-right > div {
    text-align: center;
    margin-top: 5px;
}
  
.button-email {
    font-family: var(--orb), sans-serif;
    margin-left: 5px;
    border-radius: 10px;
    padding: 3px 25px;
    background: transparent;
    font-size: 18px;
    color: var(--secondary_color);
    border: 2px solid var(--primary_color);
}
.button-email:hover{
    transition-duration: 400ms;
    color: #fff;
    background-color: var(--primary_color);
}
  
.button-join {
    font-family: var(--primary_font), sans-serif;
    margin-left: 5px;
    border-radius: 10px;
    border: 2px solid var(--primary_color);
    padding: 3px 10px;
    margin-left: 15px;
    background: var(--primary_color);
    color: #ffffff;
    font-size: 1.1rem;
}
.button-join:hover{
    transition-duration: 400ms;
    background-color: #fff;
    color: var(--primary_color);
}
  
.contact-heading {
    font-size: 1.5rem;
    font-family: var(--secondary_font), sans-serif;
    font-weight: 500;
    color: var(--secondary_color);
    margin-top: 20px;
}
  
.icons {
    margin-top: 20px;
}
  
.icons > * {
    padding: 10px;
}




  








